{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container d-inline" data-aos="fade-up" >
    <section style="margin-top: 0px;">
        <div style="display: flex; align-items: center; margin: 0px;margin-top: 70px;box-shadow: 0px 0px 6px;"><img style=" width: 100%;height: 100%;" src={{bannerimg.url}} ></img></div>
        <div class="container" style="top: -50px;">
            <div class="row gy-5 gy-lg-0 row-cols-1 row-cols-md-2 row-cols-lg-3">
                {% for stick in stickies %}
                <div class="col" data-bss-hover-animate="bounce">
                    <div class="card">
                        <div class="card-body pt-5 p-4" style="background: #e1df48;">
                            <div class="bs-icon-lg bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center position-absolute mb-3 bs-icon" style="top: -30px;background: #ce1126;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-calendar-check">
                                    <path d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"></path>
                                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"></path>
                                </svg></div>
                            <h4 class="card-title" style="font-family: Tajawal, sans-serif;">{{ stick.title }}</h4>
                            <p class="card-text" style="font-family: Tajawal, sans-serif;">{{ stick.text|safe }}</p>
                        </div>
                        <div class="card-footer p-4 py-3" style="background: var(--bs-border-color-translucent);"><a href="{{stick.url}}" style="color: rgb(0,0,0);font-family: Tajawal, sans-serif;font-weight: bold;">بيشتر</a></div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</div>
<div  class="container" data-aos="fade-up">
    <div class="carousel slide" data-bs-ride="carousel" id="carousel-1" style="height: 600px;border-radius: 33px;">
        <div class="carousel-inner h-100" style="border-radius: 0px;">
            <div class="carousel-item active d-xl-flex justify-content-xl-center h-100" style="border-radius: 0px;margin-right: 0px;"><img class="w-100 d-block d-xl-flex position-absolute h-100 fit-cover" src="{% static 'img/cover1.jpg' %}" alt="Slide Image" style="z-index: -1;display: flex;">
                <div class="container d-flex flex-column justify-content-center h-100" style="margin-bottom: 0px;border-radius: 0px;background-size: cover;margin-right: 0px;padding-right: 12px;margin-left: 0px;">
                    <div class="row" style="background: rgba(0,67,81,0.75);">
                        <div class="col-md-6 col-xl-4 offset-md-2">
                            <div style="max-width: 350px;">
                                <h1 class="text-uppercase fw-bold" style="font-family: Tajawal, sans-serif;color: var(--bs-white);text-align: center;">روان درماني فردي</h1>
                                <p class="my-3" style="color: var(--bs-success);font-weight: bold;text-align: center;font-size: 19px;margin-right: 0px;margin-left: 51px;font-family: Tajawal, sans-serif;"></p><a class="btn btn-primary btn-lg me-2" role="button" href="#" style=" color: var(--bs-btn-disabled-color);background: #e0de48;font-family: Tajawal, sans-serif;">رزرو نوبت</a><a class="btn btn-outline-primary btn-lg" role="button" href="#" style="color: var(--bs-green);border-color: var(--bs-cyan);background: rgba(0,209,255,0.36);font-family: Tajawal, sans-serif;">ورود به پنل كاربري</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <ol class="carousel-indicators">
            <li data-bs-target="#carousel-1" data-bs-slide-to="0" class="active"></li>
        </ol>
    </div>
</div>
<div class="container" data-aos="fade-up" style="margin-top: 20PX;" >
    <div class="carousel slide" data-bs-ride="carousel" id="carousel-2" style="height: 600px;border-radius: 33px;">
        <div class="carousel-inner h-100" style="border-radius: 0px;">
            <div class="carousel-item active h-100" style="border-radius: 0px;"><img class="w-100 d-block m-auto position-absolute h-100 fit-cover" src="{% static 'img/cover2.jpg' %}" alt="Slide Image" style="z-index: -1;display: flex;">
                <div class="container d-flex flex-column justify-content-center h-100" style="margin-bottom: 0px;border-radius: 0px;">
                    <div class="row" style="background: rgba(13,202,240,0.4);">
                        <div class="col-md-6 col-xl-4 offset-md-2">
                            <div style="max-width: 350px;">
                                <h1 class="text-uppercase fw-bold" style="font-family: Tajawal, sans-serif;color: var(--bs-white);text-align: left;">مشاوره و هدايت تحصيلي</h1><a class="btn btn-primary btn-lg me-2" role="button" href="#" style="color: var(--bs-btn-disabled-color);background: var(--bs-cyan);font-family: Tajawal, sans-serif;">ثبت نام</a><a class="btn btn-outline-primary btn-lg" role="button" href="#" style="color: var(--bs-green);border-color: var(--bs-cyan);background: rgba(0,209,255,0.36);font-family: Tajawal, sans-serif;">ورود به پنل كاربري</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        
        <ol class="carousel-indicators">
            <li data-bs-target="#carousel-2" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#carousel-2" data-bs-slide-to="1"></li>
            <li data-bs-target="#carousel-2" data-bs-slide-to="2"></li>
        </ol>
    </div>
</div>

{% endblock content %}