{% extends "base.html" %}
{% block content %}
    <div class="container d-inline" style="margin-top: 28px;width: auto;height: auto;">
        <section style="margin-right: 17px;margin-left: 30px;margin-top: 140px;">
            <div class="row row-cols-2 row-cols-sm-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-2 row-cols-xxl-2 d-flex">
                <div class="col-auto col-lg-1 col-xl-1 col-xxl-1 flex-shrink-1 flex-fill justify-content-center align-items-center justify-content-sm-center justify-content-md-center justify-content-lg-center" style="border-radius: 21px;border-style: initial;box-shadow: 0px 0px 9px;background: rgba(0,0,0,0);color: #e3e3e3;padding-top: 17px;padding-bottom: 17px;padding-right: 30px;padding-left: 25px;">
                    <div class="row d-flex justify-content-center" style="border-radius: 18px;height: auto;">
                        <div class="col-xxl-12 d-flex d-sm-flex d-md-flex flex-grow-1 flex-fill justify-content-center justify-content-sm-center justify-content-md-center" style="background: rgba(13,202,240,0.3);border-radius: 18px;margin-top: 11px;margin-right: 13px;margin-bottom: 29px;margin-left: 13px;padding-top: 20px;padding-bottom: 16px;">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr></tr>
                                    </thead>
                                    <tbody>
                                        <tr></tr>
                                        <tr>
                                            <td style="font-family: Tajawal, sans-serif;color: #e3e3e3;border-width: 0px;"><i class="fa fa-phone fa-fw" style="color: #00b760;"></i>&nbsp; تلفن</td>
                                            <td style="font-family: Tajawal, sans-serif;color: #e3e3e3;border-width: 0px;">09123456789</td>
                                        </tr>
                                        <tr>
                                            <td style="font-family: Tajawal, sans-serif;color: #e3e3e3;border-width: 0px;"><i class="fa fa-address-card fa-fw" style="color: #00b760;"></i>&nbsp; آدرس</td>
                                            <td style="font-family: Tajawal, sans-serif;color: #e3e3e3;border-width: 0px;">فريدونشهر خيابان مدني بلوار</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <a style="text-decoration:none;" href="signup">
                    <div  class="row" data-bss-hover-animate="pulse" style="background: #5bbf21;border-radius: 20px;box-shadow: 0px 0px 4px;">
                        <div class="col d-flex justify-content-center justify-content-xxl-center">
                            <h1 style="font-family: Tajawal, sans-serif;font-weight: bold;text-align: center;color: var(--bs-green);font-size: 26px;">ثبت نام آنلاين</h1>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-auto col-lg-auto col-xl-auto col-xxl-auto flex-grow-1 flex-shrink-1" style="margin-left: 12px;margin-right: 12px;box-shadow: 0px 0px 12px;">
                    <div class="row" data-bss-hover-animate="flash" style="background: #fd7e14;">
                        <div class="col">
                            <h1 style="font-family: Tajawal, sans-serif;font-weight: bold;text-align: center;">مشاوره</h1>
                        </div>
                    </div>
                    <div class="row" data-bss-hover-animate="flash" style="background: #fd7e14;">
                        <div class="col">
                            <h1 style="font-family: Tajawal, sans-serif;font-weight: bold;text-align: center;">درمان</h1>
                        </div>
                    </div>
                    <div class="row" data-bss-hover-animate="flash" style="background: #fd7e14;">
                        <div class="col">
                            <h1 style="font-family: Tajawal, sans-serif;font-weight: bold;text-align: center;">آموزش</h1>
                        </div>
                    </div>
                    <div class="row" data-bss-hover-animate="flash" style="background: #fd7e14;">
                        <div class="col">
                            <h1 style="font-family: Tajawal, sans-serif;font-weight: bold;text-align: center;">استعداديابي&nbsp;</h1>
                        </div>
                    </div>
                    <div class="row" data-bss-hover-animate="flash" style="background: #fd7e14;">
                        <div class="col">
                            <h1 style="font-family: Tajawal, sans-serif;font-weight: bold;text-align: center;">...</h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    {% endblock content %}