{% extends "base.html" %}
{% block content %}
{% load static %}
    <div class="container d-inline" style="margin-top: 0;width: auto;height: auto;">
        <section style="margin-right: 17px;margin-left: 30px;background: rgba(221,117,0,0);margin-top: 48px;">
            <div id="main-content" class="blog-page">
                <div class="container">
                    <div class="row clearfix">
                        <div class="col-md-12 col-lg-4 right-box" style="margin-top: 23px;">
                            <div class="card" style="background: rgba(0, 0, 0, 0.322);border-radius: 8px;box-shadow: 0px 0px 7px;">
                                <div class="body search">
                                    <div class="input-group m-b-0">
                                        <div class="input-group-text input-group-text input-group-prepend" style="background: rgba(108,181,194,0);border-style: none;border-color: rgba(206,212,218,0);"><span class="input-group-text" style="background: rgba(37,120,203,0.91);box-shadow: 0px 0px 2px 0px;border-width: 0px;"><i class="fa fa-search"></i></span></div><input class="form-control form-control form-control" type="text" placeholder="Search..." style="background: rgba(108,181,194,0.5);box-shadow: 0px 0px 7px;border-radius: 8px;">
                                    </div>
                                </div>
                            </div>
                            <div class="card" style="background: rgba(0, 0, 0, 0.322);border-radius: 8px;box-shadow: 0px 0px 7px;">
                                <div class="header">
                                    <h2 style="font-family: Tajawal, sans-serif;">كلمات كليدي</h2>
                                </div>
                                <div class="body widget">
                                    <ul class="list-unstyled categories-clouds m-b-0">
                                        <li><a>روانکاوی</a></li>
                                        <li><a>تراپی</a></li>
                                        <li><a>درمان</a></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-8 left-box" style="margin-top: 23px;">
                            {% for post in posts %}
                            <div class="card single_post" style="background: rgba(255, 255, 255, 0.918);border-radius: 8px;box-shadow: 0px 0px 7px;">
                                <div class="body">
                                    {{ post.body|safe }}
                                </div>
                            </div>
                            <div class="card" style="background: rgba(255, 255, 255, 0.842);border-radius: 8px;box-shadow: 0px 0px 7px;">
                                <div class="header">
                                    <h2 class="text-end" style="font-family: Tajawal, sans-serif;">نظرات</h2>
                                </div>
                                <div class="body">
                                    <ul class="list-unstyled comment-reply">
                                        {% for comment in post.comment_set.all %}
                                        <li class="row clearfix">
                                            <div class="icon-box col-md-2 col-4"><img class="img-thumbnail img-fluid" src="{% static 'img/guestprofile.jpg' %}" alt="Awesome Image"></div>
                                            <div class="text-box col-md-10 col-8 p-l-0 p-r0">
                                                <h5 class="m-b-0">{{comment.name}}</h5>
                                                <p> {{comment.Comment}} </p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item list-inline-item"><a>{{comment.shamsidate}}</a></li>
                                                    <!-- <li class="list-inline-item list-inline-item"><a>Reply</a></li> -->
                                                </ul>
                                            </div>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="card" style="background: rgba(0, 0, 0, 0.322);border-radius: 8px;box-shadow: 0px 0px 7px;">
                                <div class="header">
                                    <h2 class="text-end" style="font-family: Tajawal, sans-serif;">ارسال نظر</h2>
                                </div>
                                <div class="body">
                                    <div class="comment-form">
                                        <form class="row clearfix" method="post">
                                            {% csrf_token %}
                                            <input name="subject" type="hidden" value="{{post.subject}}">
                                            <input name="postpk" type="hidden" value="{{post.pk}}">
                                            <input name="username" type="hidden" value="{{username}}">
                                            
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <input name="name" class="form-control form-control form-control" type="text" placeholder="Your Name" style="background: rgba(214, 234, 238, 0.616);border-width: 0px;border-radius: 8px;box-shadow: 0px 0px 3px rgb(33, 37, 41);color: rgba(0, 0, 0, 0.534);padding-top: 4px;padding-bottom: 7px;">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <input name="email" class="form-control form-control form-control" type="text" placeholder="Email Address" style="background: rgba(214, 234, 238, 0.616);border-width: 0px;border-radius: 8px;box-shadow: 0px 0px 3px rgb(33, 37, 41);color: rgba(0, 0, 0, 0.534);padding-top: 4px;padding-bottom: 7px;">
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <textarea name="comment"  class="form-control form-control form-control no-resize" rows="4" placeholder="Please type what you want..." style="background: rgba(214, 234, 238, 0.616);border-width: 0px;border-radius: 8px;box-shadow: 0px 0px 3px rgb(33, 37, 41);color: rgba(0, 0, 0, 0.534);padding-top: 0px;padding-bottom: 0px;margin-top: 10px;"></textarea>
                                                </div>
                                                <button class="btn btn-primary btn-block" type="submit" style="margin-top: 7px;background: rgb(0,0,0);color: rgb(56, 97, 55);font-family: Tajawal, sans-serif;border-top-width: 0px;">ثبت نظر</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
    {% endblock content %}